
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        //导航切换
        $(".menuson li.active").removeClass("active");
        $("#dictItem").addClass("active");

        $("#btnBack").click(function () {
            window.location = "/Dict/Index";
        });
    });
</script>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统字典</a></li>
        <li><a href="#">编辑字典</a></li>
    </ul>
</div>
<form method="post">
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>
        <input type="hidden" name="ID" value="@ViewBag.Dict.ID" /><!--隐藏字典主键ID值-->
        <ul class="forminfo">
            <li><label>代码类型名</label><input name="TypeName" type="text" class="dfinput" value="@ViewBag.Dict.TypeName" /><i>类型不能超过20个字符</i></li>
            <li><label>代码名</label><input name="Name" type="text" class="dfinput" value="@ViewBag.Dict.Name"/><i>多个关键字用,隔开 </i></li>
            <li><label>代码值</label><input name="Value" type="text" class="dfinput" value="@ViewBag.Dict.Value" /><i></i></li>
            <li><label>顺序</label><input name="Sort" type="text" class="dfinput" value="@ViewBag.Dict.Sort" /><i></i></li>
            <li>
                <label>&nbsp;</label><input name="btnSave" type="submit" class="btn" value="确认保存" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="btnBack" name="btnBack" type="button" class="btn" value="取消并返回" />
            </li>
        </ul>
    </div>
</form>


