@model HRSM.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        //导航切换
        $(".menuson li.active").removeClass("active");
        $("#postItem").addClass("active");

        $("#btnBack").click(function () {
            window.location = "/Post/Index";
        });
    });
</script>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">招聘岗位</a></li>
        <li><a href="#">添加招聘岗位</a></li>
    </ul>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>
        <ul class="forminfo">
            <li><label>招聘公司</label>@Html.DropDownListFor(p => p.Company_ID, (IEnumerable<SelectListItem>)ViewBag.Company_IDs, new { @class = "dfselect" })<i> @Html.ValidationMessageFor(model => model.Company_ID, "", new { @class = "text-danger" })</i></li>
            <li><label>岗位名称</label>@Html.TextBoxFor(p => p.Name, new { @class = "dfinput" })<i> @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</i></li>
            <li><label>URL</label>@Html.TextBoxFor(p => p.URL, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })</i></li>
            <li><label>岗位类型</label>@Html.DropDownListFor(p => p.Type, (IEnumerable<SelectListItem>)ViewBag.Types, new { @class = "dfselect" })<i>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })</i></li>
            <li><label>岗位介绍</label>@Html.TextAreaFor(p => p.Desc, new { @class = "dftextarea2" })<i>@Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })</i></li>
            <li><label>招聘人数</label>@Html.TextBoxFor(p => p.Num, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(model => model.Num, "", new { @class = "text-danger" })</i></li>
            <li><label>面试人数/班</label>@Html.TextBoxFor(p => p.InterNum, new { @class = "dfinput" })<i>@Html.ValidationMessageFor(model => model.InterNum, "", new { @class = "text-danger" })</i></li>
            <li>
                <label>&nbsp;</label><input name="btnSave" type="submit" class="btn" value="确认保存" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="btnBack" name="btnBack" type="button" class="btn" value="取消并返回" />
            </li>
        </ul>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

